<!DOCTYPE html>
<html>
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='show-item.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>
	<body class="wrapper">
		<header class="outer-header">
			<div  class="header-grid">
				<h1 class="header-logo">Catalog App</h1>
				{% if loggedIn %}
					<div class="header-login"><a href="/logout" class="button">Logout</a></div>
				{% else %}
					<div class="header-login"><a href="/login" class="button">Login</a></div>
				{% endif %}
			</div>
		</header>
		<main class="main-grid">
			<h2>500: Something Went Wrong</h2>
		</main>
	</body>
</html>
