<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>
	<body class="wrapper">
		<header class="outer-header">
			<div  class="header-grid">
				<h1 class="header-logo">Catalog App</h1>
				<div class="header-login"><a href="/logout" class="button">Logout</a></div>
			</div>
		</header>
		<main class="main-grid">
			<div class="left-area">
				<h2>Categories</h2>
				{% for category in categoryRows %}
				<a href="/catalog/{{ category.id }}/items/">{{ category.name }}</a>
				<br/>
				{% endfor %}
			</div>
			<div class="right-area">
				<a href="/catalog/new/">New Item</a>
				<h2>Lastest Items</h2>
				{% for tup in itemRowCategoryName %}
				<a href="/catalog/{{ tup[0].category_id }}/{{ tup[0].id }}/">{{ tup[0].name }}</a> <span class="item-category">({{ tup[1] }})</span>
				<br/>
				{% endfor %}
			</div>
		</main>
		<div class = 'flash'>
		    {% with messages = get_flashed_messages() %}
      		{% if messages %}
          
        	<ul>
        		{% for message in messages %}
            	<li> <strong> {{ message }} </strong> </li>
        		{% endfor %}
        	</ul>
        	{% endif %}
    		{% endwith %}
		</div>
	</body>
</html>